---
layout: archive
title: "Publications"
permalink: /publications/
author_profile: true
---

{% if site.author.googlescholar %}
  <div class="wordwrap">You can also find my articles on <a href="{{site.author.googlescholar}}">my Google Scholar profile</a>.</div>
{% endif %}

{% include base_path %}

<!-- New style rendering if publication categories are defined -->
{% if site.publication_category %}
  {% assign category_order = "manuscripts,thesis,books,preprint" | split: "," %}
  {% for category_key in category_order %}
    {% assign category = site.publication_category[category_key] %}
    {% if category %}
      {% assign title_shown = false %}
      {% assign category_pubs = site.publications | where: "category", category_key | sort: "year" | reverse %}
      {% for post in category_pubs %}
        {% unless title_shown %}
          <h2>{{ category.title }}</h2><hr />
          {% assign title_shown = true %}
        {% endunless %}
        {% include archive-single.html %}
      {% endfor %}
    {% endif %}
  {% endfor %}
{% else %}
  {% assign sorted_pubs = site.publications | sort: "year" | reverse %}
  {% for post in sorted_pubs %}
    {% include archive-single.html %}
  {% endfor %}
{% endif %}



